div {
    display: inline; /*declarando el comportamiento*/
    margin: 10px;   /*modificando el margen*/
    border: 2px;    /*modificando el borde*/
    padding: 10px;  /*modificando el padding*/
}

.gold {
    background-color: gold; /*estableciendo el color de fondo*/
}

.black {
    background-color: black;    /*estableciendo el color de fondo*/
    color: white;   /*estableciendo el color del contenido*/
}